CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/build
/papilo
/build/CMakeFiles
/test/PB16
.DS_Store
.vscode/settings.json